.done {
    text-decoration-line: line-through;
}

.todoitem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    width: 100%;
}

#todoInput {
    padding: 5px;
    width: 70%;
    background-color: #FFC9FD;
    color: maroon;
    border-radius: 4px
}

#todoInput:not(:disabled) {
    background-color: darkblue;
    color: cornsilk;
}

.todoitem>button {
    border-radius: 10px;
    color: darkslateblue;
    font-size: 2em;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.todoitem>button:not(:disabled) {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .todoitem {
        flex-direction: column;
        align-items: center;
    }

    #todoInput {
        padding: 5px;
        width: 80%;
    }
    .todoitem>button {
        margin: 10px 0;
    }
}